*, *::before, *::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgba(205, 205, 205, 1)
}

.container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 100px;
}

.top-section{
    position: relative;
    margin-bottom: 100px;
}

.bottom-section{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: start;
    column-gap: 50px;
    min-height: 100vh;
    padding: 50px;
}

.bottom-section > div{
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    row-gap: 75px;
}

.invisible{
    opacity: 0;
}

.invisible:hover{
    cursor: default;
}

button{
    color: black;
    border-radius: 5%;
    padding: 10px;
    border: none;
    word-break: break-word;
    width: 150px;
    height: 80px;
    margin: 2px;
    transition: all 0.3s;
}

button:hover{
    cursor: pointer;
    transform: translateX(-5px);
    transform: translateY(-5px);
}

.cs-start, .ac-start, .en-start{
    position: absolute;
    width: 100px;
    height: 100px;
}

.cs-start{
    right: 450px;
}

.ac-start{
    left: 600px;
}

.en-start{
    top: -100px;
}

.english-courses-description{
    color: rgba(88, 23, 46, 1);
    margin: 10px;
}

ul > li{
    padding: 5px;
}

.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.nav-link > a{
    display: inline;
    float: left;
    text-align: center;
    padding: 15px;
    color: black;
    text-decoration: none;
    margin-right: 5px;
}

.nav-link > a:hover{
    cursor: pointer;
}

.nav-title{
    margin-left: 35px;
}

.nav-cs-major:hover, .nav-en-major:hover{
    background-color: rgba(88, 23, 46, 0.65);
}

.nav-ac-major:hover, .nav-md-major:hover{
    background-color: rgba(243, 189, 48, 0.65);
}

.share-button {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0px;
    margin-right: 10px;
    height: 30px;
    width: 55px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25), inset 2px 2px 5px rgba(0,0,0,0.5), inset -3px -3px 5px rgba(0,0,0,0.5);
}

.share-button:hover{
    cursor: pointer;
    background-color: black;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}